*{
    margin: 0px;
}

body{
    background-color: darkblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

div#header{
    background-color: cornflowerblue;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    color: white;

}

h1#hero{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    justify-content: left;

}

div#sobremim{
    background-color: darkcyan;
}

section#sobre{
    height: 50vh;
    margin-block: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#demo{
    width: 500px;
    margin-right: 1000px;
    border-radius: 10%;
}

h1#sobre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

h5#sobre{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size: 30px;
    color: ghostwhite;
    margin-top: 10px;
    margin-bottom: 30px;
}